// -----------------------------------------------------------------------------
//
// FONTS
//
// -----------------------------------------------------------------------------

$font-family--primary: "Oxygen", Helvetica, sans-serif;

$font-size--xsmall: .12rem;
$font-size--small: .14rem;
$font-size--smedium:.16rem;
$font-size--medium: .18rem;
$font-size--large: .22rem;
$font-size--xlarge:.28rem;
$font-size--xxlarge: .36rem;

$font-size--ultra: .42rem;
$font-size--ultra-large: .48rem;
$font-size--ultra-xlarge: .6rem;
$font-size--ultra-xxlarge: .84rem;

$line-height--small: 1.2;
$line-height--medium: 1.8;
$line-height--large: 2.2;






// -----------------------------------------------------------------------------
//
// COLORS
//
// -----------------------------------------------------------------------------

$color--neutral-xxdark: rgb(21,21,21);
$color--neutral-xdark: rgb(39,39,39);
$color--neutral-dark: rgb(59,59,59);
$color--neutral: rgb(109,109,109);
$color--neutral-light: rgb(129,129,129);
$color--neutral-xlight: rgb(179,179,179);
$color--neutral-xxlight: rgb(231,231,231);
$color--neutral-xxxlight: rgb(241,241,241);

$color--blue-dark: rgb(0,100,140);
$color--blue: rgb(40,170,220);
$color--blue-light: rgb(70,200,250);

$color--theme: #67b5d1;
$color--theme-dark: darken($color--theme, 20%);
$color--theme-light: lighten($color--theme, 20%);






// -----------------------------------------------------------------------------
//
// BREAKPOINTS
//
// -----------------------------------------------------------------------------

$breakpoint--small: 4.8rem;
$breakpoint--medium: 7.2rem;
$breakpoint--large: 10.2rem;
$breakpoint--xlarge: 12rem;