<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="icon" href="/images/favicon.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <!--<meta http-equiv="Cache-Control" content="max-age=2592000" />-->
    <title>皇冠站1 - <%= data.title %></title>
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="applicable-device" content="mobile">
    <% if(data.css && data.css.length>0){data.css.forEach(function(item){ %>
    <link rel="stylesheet" href="<%=item%>" type="text/css" />
    <% })} %>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/flexible.js"></script>
</head>